/* Base Styles */
.heroSectionWrapper {
    display: flex;
    height: 40rem;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;

    .hero-contentWrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        padding: 2% 0;
        justify-content: space-between;
        align-items: flex-start;

        .hero-writeUp {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 30px;
            height: auto;
            color: white;

            h2 {
                font-size: 50px;
                font-weight: 500;
                width: 100%;
            }

            p {
                width: 100%;
            }

            .hero-newsLetter-emailInput {
                display: flex;
                background-color: rgba(112, 112, 112, 0.438);
                backdrop-filter: blur(5px);
                font-size: 20px;
                height: 50px;
                align-items: center;
                justify-content: space-evenly;
                gap: 5px;
                padding: 10px;
                border-radius: 15px;
                color: rgb(204, 204, 204);

                input {
                    height: 100%;
                    flex: 1;
                    outline: none;
                    border: none;
                    color: white;
                    background-color: transparent;
                }

                input::placeholder {
                    padding-left: 10px;
                    color: whitesmoke;
                }

                button {
                    border: none;
                    color: white;
                    padding: 0 20px;
                    height: 100%;
                    border-radius: 10px;
                    text-transform: capitalize;
                    background-color: rgba(0, 0, 0, 0.521);
                    cursor: pointer;
                }
            }
        }

        .hero-footerSection {
            display: flex;
            justify-content: space-between;
            color: whitesmoke;
            align-items: center;
            width: 100%;
            padding: 20px 0;
            border-top: 1px solid rgba(245, 245, 245, 0.63);

            .hero-footer-text {
                display: flex;
                flex: 1;
                font-size: 15px;
            }

            .sponsors {
                display: flex;
                flex: 1.5;
                justify-content: flex-end;
                align-items: center;
                gap: 20px;

                .bbc {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: whitesmoke;
                    opacity: 0.5;

                    .bbcLogo {
                        font-weight: 600;
                        letter-spacing: 2px;
                    }
                }

                .logo {
                    height: 20px;
                    width: auto;
                    display: flex;
                    opacity: 0.5;
                }

                .notion {
                    align-items: center;
                    justify-content: center;
                    gap: 3px;
                    opacity: 0.5;
                    height: auto;
                    width: auto;
                    display: flex;
                    mix-blend-mode: screen;
                    font-weight: bold;
                    text-transform: capitalize;

                    img {
                        height: 50px;
                        object-fit: cover;
                        width: auto;
                        display: flex;
                    }
                }
            }
        }
    }
}

.hero-backgroundImgWrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    background-color: #000;
    overflow: hidden;

    .hero-bckImg-handler {
        display: flex;
        height: 100%;
        width: 100%;
        background-color: black;
        justify-content: center;
        align-items: center;
    }

    img {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        opacity: 0.5;
    }
}

/* Tablet Styles */
@media (min-width: 601px) and (max-width: 800px) {
    .hero-contentWrapper {
        width: 90%;
    }

    .hero-writeUp {
        width: 100%;
        background-color: rgba(255, 123, 0, 0.78);
    }

    .logo {
        height: 50px;
    }

    .notion img {
        height: 5px;
    }

    .bbc .bbcLogo {
        font-weight: 100;
        font-size: 12px;
    }
}

/* Mobile Styles */
@media (max-width: 600px) {
    .heroSectionWrapper {
        .hero-contentWrapper {
            width: 85%;

            .hero-writeUp {
                justify-content: center;
                align-items: center;
                gap: 25px;
                position: absolute;
                margin: auto;
                top: 0;
                bottom: 0;
                /* background-color: #6467fa85; */

                h2 {
                    font-size: 35px;
                }

                p {
                    font-size: 12px;
                }
            }

            .hero-footerSection {
                flex-direction: column;
                gap: 20px;
                padding-bottom: 0;

                .hero-footer-text {
                    width: 100%;
                    font-size: 14px;
                }

                .sponsors {
                    width: 100%;
                    justify-content: space-between;
                    gap: unset;

                    .bbc {
                        width: auto;

                        svg {
                            height: 20px;
                        }

                        .bbcLogo {
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }

                    .logo {
                        height: 15px;
                    }

                    .notion {
                        font-size: 12px;

                        img {
                            height: 20px;
                        }
                    }
                }
            }
        }
    }

    .hero-backgroundImgWrapper img {
        height: 100vh;
    }
}