.heroSectionWrapper {
    display: flex;
    height: 40rem;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;

    .hero-contentWrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 80%;
        height: 100%;
        padding: 2% 0px;
        justify-content: space-between;
        align-items: flex-start;


        .hero-writeUp {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 30px;
            width: 30rem;
            height: auto;
            color: white;


            h2 {
                font-size: 50px;
                font-weight: 500;
                width: 100%;
            }

            .hero-newsLetter-emailInput {
                display: flex;
                background-color: rgba(112, 112, 112, 0.438);
                backdrop-filter: blur(5px);
                font-size: 20px;
                height: 50px;
                align-items: center;
                justify-content: space-evenly;
                gap: 5px;
                padding: 10px;
                border-radius: 15px;
                color: rgb(204, 204, 204);

                input {
                    height: 100%;
                    display: flex;
                    flex: 1;
                    outline: none;
                    border: none;
                    color: white;

                    background-color: transparent;

                }

                input::placeholder {
                    padding-left: 10px;
                    color: whitesmoke;
                }


                button {
                    border: none;
                    color: white;
                    /* width: 100%; */
                    padding: 0px 20px;
                    height: 100%;
                    border-radius: 10px;
                    text-transform: capitalize;
                    background-color: rgba(0, 0, 0, 0.521);
                    cursor: pointer;
                }
            }

        }


        .hero-footerSection {
            display: flex;
            justify-content: space-between;
            color: whitesmoke;
            align-items: center;
            width: 100%;
            padding: 20px 0px;
            border-top: 1px solid rgba(245, 245, 245, 0.63);

            p {
                display: flex;
                flex: 1;
                font-size: 15px;

            }

            .sponsors {
                display: flex;
                flex: 1.5;
                justify-content: flex-end;
                align-items: center;
                gap: 20px;


                .bbc {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: whitesmoke;
                    opacity: .5;

                    h3 {
                        font-weight: 600;
                        letter-spacing: 2px;
                    }
                }

                .logo {
                    height: 20px;
                    width: auto;
                    display: flex;
                    opacity: .5;
                }

                .notion {
                    align-items: center;
                    justify-content: center;
                    gap: 3px;
                    opacity: .5;
                    height: auto;
                    width: auto;
                    display: flex;
                    mix-blend-mode: screen;
                    font-weight: bold;
                    text-transform: capitalize;

                    img {
                        height: 50px;
                        object-fit: cover;
                        width: auto;
                        display: flex;
                    }
                }
            }
        }
    }

    .hero-backgroundImgWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        width: 100%;
        position: fixed;
        overflow: hidden;
        z-index: -1;

        .overlay {
            position: absolute;
            display: flex;
            height: 100%;
            width: 100%;
            background-color: #000;
            opacity: .3;
        }

        .imageContainer {
            display: flex;
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            z-index: -1;
            object-fit: cover;

            img {
                display: flex;
                object-fit: cover;
                width: 100%;
                height: 100%;
                position: relative;
            }
        }


    }
}