.nav {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: bottom;
  background-color: transparent;

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 10px 0px;

    .nav-logoWrapper {
      height: 40px;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
        width: auto;
        display: flex;
        object-fit: cover;
        mix-blend-mode: color-burn;
      }

      h3 {
        font-size: 30px;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        opacity: 0.7;
        color: whitesmoke;
      }
    }

    .nav-linkBtnWrapper {
      display: flex;
      gap: 30px;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: none;

      .navBtnLinks {
        text-decoration: none;
        font-size: 15px;
        display: flex;
        color: white;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        position: relative;
        justify-content: flex-start;
        align-items: flex-end;
        font-weight: 500;

        &::before {
          content: "";
          position: absolute;
          height: 3px;
          width: 0%;
          display: flex;
          bottom: -5px;
          background-color: white;
          transition: all 350ms ease-in-out;
        }

        &:hover::before {
          width: 100%;
        }
      }
    }
  }
  .mobileBurgerMenu {
    display: none;
  }
}

@media (max-width: 800px) {
  .nav {
    align-items: flex-end;
    justify-content: space-between;
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;

    .nav-wrapper {
      display: flex;
      padding: unset;
      gap: unset;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      width: 100%;

      .nav-logoWrapper {
        justify-content: space-between;
        align-items: center;
        flex: 1;
        width: 100%;
      }

      .nav-getStartedBtn {
        height: auto;
        position: relative;

        svg {
          height: 20px;
          //   width: 10px;
        }
      }
      .Download-button {
        display: flex;
        align-items: center;
        font-family: inherit;
        font-weight: 500;
        font-size: 10px;
        padding: 5px 10px;
        color: white;
        background: linear-gradient(144deg, #166534, #169934 50%, #168844);
        border: none;
        box-shadow: 0 0.7em 1.5em -0.5em rgba(59, 78, 48, 0.527);
        letter-spacing: 0.05em;
        border-radius: 8px;
        cursor: pointer;
        position: relative;
        transition: all 0.2s;
      }

      .nav-linkBtnWrapper {
        display: none;
      }
    }

    .mobileMenuBtn {
      display: flex;
    }

    .mobileBurgerMenu {
      display: flex;
    }
  }

  .mobileMenuBtn {
    z-index: 999;
    display: none;
    height: 50px;
    width: 50px;
    margin-left: 20px;
    position: relative;
    align-items: flex-start;

    button {
      background-color: transparent;
      border-radius: 10px;
      height: 100%;
      width: 100%;
      border: none;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      .before,
      .center,
      .after {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 2px;
        transition: all 350ms ease-in-out;
      }

      .before {
        position: absolute;
        top: 30%;
      }

      .beforeAnimation {
        transform: rotate(-40deg);
        top: unset;
      }

      .centerAnimation {
        transform: translateX(100%);
      }

      .after {
        position: absolute;
        bottom: 30%;
      }

      .afterAnimation {
        transform: rotate(40deg);
        bottom: unset;
      }
    }
  }

  .mobileBurgerMenu {
    z-index: 998;
    display: none;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.897);
    backdrop-filter: blur(5px);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: auto;
    width: 100%;
    right: 0px;
    border-radius: 0px 0px 50% 50%;
    transition: all 350ms ease-in-out;
    top: 0px;

    .menuLinkBtn {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      display: flex;
      padding: 20px;
      gap: 10px;

      button {
        border: none;
        background: none;
        font-size: 30px;
        font-weight: bolder;
        color: white;
      }

      button:hover {
        text-decoration: underline;
      }
    }
  }
  .mobileBurgerMenuAnim {
    top: -100%;
  }
}

@media (max-width: 500px) {
  .nav {
    .mobileMenuBtn {
      height: 60px;
      width: 30px;
    }
  }
  .mobileBurgerMenu {
    z-index: 998;
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: auto;
    width: 100%;
    bottom: unset;
    border-radius: 0px 0px 50% 50%;
    transition: all 350ms ease-in-out;
    top: 0%;
  }
  .menuLinkBtn {
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    display: flex;
  }

  .mobileBurgerMenuAnim {
    top: -100%;
  }
}
